.nrsh {
  background-color: #ccc;
  cursor: pointer;
  display: inline;
}

.nrsh.like {
  background-color: chocolate;
  color: white;
  border-radius: 3px;
}

.nrsh.Polity {
  background-color: yellow;
  border-radius: 3px;
  color: black;
}

.nrsh.Abuse {
  background-color: cadetblue;
  color: white;
  border-radius: 3px;
}

.nrsh.Standard {
  background-color: salmon;
  border-radius: 3px;
  color: white;
}

.error.nrsh,
.regexp-like.nrsh,
.chengyu-like.nrsh {
  background-color: red;
  color: white;
  border-radius: 3px;
}

.neirong-box {
  position: fixed;
  bottom: 20px;
  width: 90%;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
  z-index: 99999;
  box-shadow: 1px 1px 3px #b39c9c;
}

.neirong-text {
  width: calc(100% - 143px);
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 5px;
}

.neirong-button-1 {
  width: 60px;
  text-align: center;
  line-height: 30px;
  background-color: #009fe9;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.neirong-button-2 {
  width: 60px;
  text-align: center;
  line-height: 30px
  ;background-color: teal;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.neirong-show {
  position: fixed;
  z-index: 9999;
  right: 50px;
  max-height: 500px;
  top: 60px;
  width: 250px;
  background-color: teal;
  border-radius: 5px;
  opacity: 0.95;
  padding: 10px;
  font-size: 12px;
  color: white;
  line-height: 22px;
  box-shadow: 1px 1px 6px #27262d;
  display: none;
}

.neirong-title {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.neirong-box .neirong-top {
  display: flex;
  width: 100%;
  height: 30px;
  margin: 2px 0;
}

.neirong-box .neirong-bottom {
  height: 25px;
}

.neirong-bottom {
  display: flex;
  align-items: center;
  line-height: 26px;
  overflow: hidden;
  color: #666;
}

.neirong-bottom input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 4px 2px;
}

.neirong-bottom span {
  /* margin: 0 5px; */
}

.neirong-bottom input[type="number"] {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 4px;
}

.neirong-number-info {
  position: absolute;
  right: 10px;
  bottom: 3px;
}

@font-face {
  font-family: 'iconfont';  /* project id 2188977 */
  src: url('//at.alicdn.com/t/font_2188977_8zbmn2i77oo.eot');
  src: url('//at.alicdn.com/t/font_2188977_8zbmn2i77oo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2188977_8zbmn2i77oo.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2188977_8zbmn2i77oo.woff') format('woff'),
  url('//at.alicdn.com/t/font_2188977_8zbmn2i77oo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2188977_8zbmn2i77oo.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  user-select: none;
}

.neirong-box .title-bar {
  height: 25px;
  line-height: 25px;
}

.neirong-box .neitong-title-item {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  cursor: pointer;
}

.neirong-box .neitong-title-item:hover {
  color: #009fe9;
}

.neirong-box .neitong-title-item .icon {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  width: 22px;
  text-align: center;
}

.neirong-search {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
}

#neirongSearchInput {
  width: 160px;
}

.neirong-button {
  display: inline-block;
  background-color: #6596bf;
  color: white;
  padding: 0 10px;
  border-radius: 3px;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
}

.neirong_clear {
  background-color: peru;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
}
.XiYu {
  background-color: transparent;
  background-color: white;
  color: gold;
}

.neirong-show p {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}